.AllNews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.AllNews .title {
  text-align: center;
}

.AllNews ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.AllNews ul li {
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 8px;
	list-style-type: none;
	padding: 0.5rem;
	word-wrap: break-word;
	border-radius: 10px;
  box-sizing: border-box;
}
